#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-4 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 DIV {
  font-size: 60px;
}
#header4-1 H1 {
  font-size: 60px;
}
#header4-1 B {
  font-size: 20px;
}
#contacts1-5 P {
  text-align: left;
  color: #000000;
}
#contacts1-5 UL {
  color: #000000;
}
#contacts1-5 STRONG {
  color: #000000;
}
#footer1-6 P {
  color: #000000;
  text-align: left;
}
#header4-a DIV {
  font-size: 60px;
}
#header4-a P {
  font-size: 20px;
}
#header4-a H1 {
  font-size: 60px;
}
#header4-b DIV {
  font-size: 60px;
}
#header4-b P {
  font-size: 20px;
}
#header4-b H1 {
  font-size: 60px;
}
#header4-c DIV {
  font-size: 60px;
}
#header4-c P {
  font-size: 20px;
}
#header4-c H1 {
  font-size: 60px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-8 P {
  text-align: left;
  color: #000000;
}
#contacts1-8 UL {
  color: #000000;
}
#contacts1-8 STRONG {
  color: #000000;
}
#footer1-9 P {
  color: #000000;
  text-align: left;
}
#form1-h .mbr-header__text {
  color: #ffffff;
  font-size: 60px;
}
#form1-h .btn {
  font-size: 16px;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-d .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-e P {
  text-align: left;
  color: #000000;
}
#contacts1-e UL {
  color: #000000;
}
#contacts1-e STRONG {
  color: #000000;
}
#footer1-f P {
  color: #000000;
  text-align: left;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-i .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-l H1 {
  font-size: 60px;
}
#header4-l B {
  font-size: 20px;
}
#contacts1-j P {
  text-align: left;
  color: #000000;
}
#contacts1-j UL {
  color: #000000;
}
#contacts1-j STRONG {
  color: #000000;
}
#footer1-k P {
  color: #000000;
  text-align: left;
}
